.container {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
}

.header {
    width: 100%;
    height: 69px;
    margin-top: 2%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchbar {
    width: 45%;
    border-radius: 4px;
    background: #FFF;
    color: #949494;
    font-weight: 200;
    height: 39px;
    border: none;
    outline: none;
    padding-left: 3.5rem;
    font-size: 14px;
}

.locationIcon {
    position: absolute;
    top: 37%;
    left: 36%;
}

.title {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    margin-right: 2.2rem;
}

.header2 {
    display: flex;
    width: 70%;
    margin: 2rem 25% 2rem 5%;
    background: #F8F8F8;
    justify-content: space-between;
    padding-bottom: 2rem;

}

.two {
    display: flex;
    gap: 15px;
}

.search {
    width: 400px;
    max-width: 400px;
    height: 100%;
    position: relative;
}

.bord {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.searchDropdown {
    z-index: 2;
    width: 100%;
    padding: 1.2rem 2rem 2rem 2rem;
    height: auto;
    position: absolute;
    background: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list p {
    color: #6D6D6D;
    font-size: 13px;
    font-weight: 200;
    line-height: 35px;
}

.storeTitle {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result p {
    color: #6D6D6D;
    font-size: 12px;
    font-weight: 200;
    line-height: 65px;
}

.result button {
    display: flex;
    width: 50%;
    margin: auto;
    height: 39px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F47900;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
}

.search input {
    width: 100%;
    height: 53px;
    outline: none;
    padding-left: 2rem;
    border-radius: 4px 0px 0px 4px;
    border: 0px solid rgba(148, 148, 148, 0.60);
    background: #FFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.searchflex {
    display: flex;
}

.searchbtn {
    display: flex;
    height: 53px;
    border: none;
    outline: none;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    background: #F47900;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

.storeContainer {
    background: #FCFCFC;
    width: 100%;
    height: 100%;
    position: relative;
}

.dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    padding-top: 2.5rem;
}

.dropdownContainer {
    width: 94%;
    margin: 2rem auto 0 auto;
    border-radius: 4px;
    border: 1px solid rgba(4, 213, 5, 0.49);
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    height: 400px;
    padding: 2rem 3rem;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
}

.dropdownContainer p {
    color: #2F2E41;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 93%;
    /* margin: auto; */

}

.mealCard {
    width: 100%;
    height: 168px;
    border-radius: 8px;
}

.mealCard .img {
    width: 100%;
    height: 144px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: .6rem;
}

.flex .name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.flex .name2 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
}

.view {
    display: flex;
    width: 271px;
    border-radius: 2px;
    background: #F47900;
    padding: 13px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: #F47900;
    outline: #F47900;
    margin: 7.2rem auto;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
}

.modalContainer {
    width: 100%;
    position: fixed;
    /* Use 'fixed' instead of 'absolute' for the modal container */
    top: 0;
    left: 0;
    right: 0;
    /* Use 'right' instead of 'bottom' to cover the bottom */
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalCard {
    background: #FFF;
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);

}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 3rem .2rem 3rem;
}

.images {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

.modalImg {
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    height: 315px;
    object-position: center;
    object-fit: contain;
}

.itemName {
    color: #000;
    font-size: 34px;
    font-weight: 500;
}

.right {
    width: 51%;
}

.right .storeName {
    color: #F47900;
    font-size: 13px;
    font-weight: 300;
    margin-top: -1rem;
}

.rates {
    display: flex;
    justify-content: space-between;
    width: 23%;
    margin-top: .7rem;
}

.intro {
    color: #353535;
    font-size: 13px;
    font-weight: 300;
    line-height: 20.933px;
    margin-top: .8rem;
}

.right .modalTitle {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    margin-top: 1rem;
}

.right .modalTitle2 {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    margin-top: 3rem;
}

.flex2 {
    display: flex;
    width: 22%;
    align-items: center;
}

.flex2 .box {
    padding: .2rem .4rem;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F47900;
    text-align: center;
    margin-right: 1rem;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.span .price {
    color: #000;
    font-size: 34px;
    font-weight: 500;
}

.span {
    display: flex;
    align-items: center;
    margin-top: -2.5rem;
    justify-content: flex-start;
}

.end {
    display: flex;
    flex-direction: column;
    margin-left: 80%;
    margin-top: -3rem;
    align-items: flex-end;
}

.span .piece {
    color: #949494;
    font-size: 14px;
    font-weight: 300;
    margin-left: 1.2rem;
}

.buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    padding: 1.5rem 2.5rem 2rem 2.5rem;

}

.buttons .outlinebtn {
    display: flex;
    height: 40px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.50);
    outline: 1px solid rgba(0, 0, 0, 0.50);
    color: #353535;
    font-size: 14px;
    font-weight: 500;
}

.btn {
    display: flex;
    height: 40px;
    padding: 21.4px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F47900;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    border: #F47900;
    outline: #F47900;
}

.flex3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #949494;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    cursor: pointer;
}

.images1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-top: 2rem;
}

.img1 {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}