.storeImg {
    width: 216px;
    height: 194px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.storeImg1 {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}
.storeImg2 {
    width: 100%;
    height: 174px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.stores {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
}

.stores2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}
.stores3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 56px;
}

.card1 {
}

.box {
    width: 100%;
    height: 324px;
}

.storeName {
    margin-top: .5rem;
    color: #6D6D6D;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.prep {
    color: #6D6D6D;
    font-size: 14px;
    font-weight: 300;
}

.name2 {
    color: #000;
    font-size: 13px;
    font-weight: 200;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .9rem;
}

.store {
    height: 257px;
    width: 216px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.storeContainer {
    padding: 1rem 5rem;
}

.name {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
}

.view {
    text-align: center;
    padding: 3rem 0;
    font-size: 14px;
    cursor: pointer;
}

.border {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

.mealContainer {
    width: 100%;
    padding: 2rem 5rem;
}
.mealContainer1 {
    width: 100%;
    padding: 2rem 5rem;
}