.popup2_container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #00000047;
    z-index: 200;
}

.popup2{
    width: 973px;
    height: 709px;
    
    background: #FFFFFF;
    border-radius: 11px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.popup2_row_2{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 324px 1fr 324px;
    padding: 1rem;
    height: 100%;
}

.popup2_row_2 > div:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 1rem;
}

.popup2_top{
    display: grid;
    grid-auto-flow: column;
    /* width: max-content; */
    justify-content: space-between;
    /* grid-template-rows: 3rem; */
    grid-template-columns: 1fr 4rem;
    grid-template-columns: max-content max-content;
    align-items: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 1rem;
}

.popup2_top > h2 {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.popup2_top > h3 {
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
    color: #2B2B2B;
}

.popup2_main_img{
    width: 314px;
    height: 207px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.1));
}

.popup2_images{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: start;
}

.popup2_image{
    width: 75px;
    height: 72px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.1));
}

.popup2_main_logo_img{
    Width: 102px;
    Height: 40px;
    image-rendering: -webkit-optimize-contrast;
}

.popup2_col_1{
    display: grid;
    justify-content: start;
    align-content: start;
    grid-gap: 10px;
    overflow: hidden;
}

.popup2_col_2{
    display: grid;
    align-items: start;
    height: 100%;
    overflow-y: hidden;
    grid-template-rows: 100%;
    /* margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem; */
}

.popup2_col_3{
    display: grid;
    align-content: start;
    grid-gap: 1rem;
    overflow: hidden;
}

.popup2_details{
    display: grid;
    grid-gap: 1rem;
    height: 100%;
    overflow: hidden;
    grid-template-rows: 80% 20%;
}

.del{
    display: grid;
    grid-gap: 10px;
    align-content: start;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }

  th{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #6D6D6D;
  }

  td{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #353535;
  }
  
  tr:nth-child(even) {
    background-color: #F1F1F1;
  }

.popup2_name{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.popup2_description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135.02%;
    /* or 16px */


    color: #000000;
    overflow-y: scroll;
}

.popup2_del{
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    grid-gap: 6px;
}

.popup2_del > li{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    align-items: center;
}

.popup2_del > li > p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;
}

.popup2_del > li > h5{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
}

.popup2_categories{
    display: grid;
    align-content: start;
}

.popup2_category_name{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 149.52%;
    /* identical to box height, or 21px */


    color: #000000;
}

.popup2_category{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 149.52%;
    /* or 21px */


    color: #6D6D6D
}

.popup2_sizes{
    display: grid;
}

.popup2_sizes > h3{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 149.52%;
    /* identical to box height, or 21px */


    color: #000000;
}

.popup2_size{
    width: 200px;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: max-content 1fr max-content;
}

.popup2_size > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 149.52%;
    /* or 18px */


    color: #353535;
}

.popup2_size > div{
    border: 1px dashed rgba(0, 0, 0, 0.2);
}

.popup2_cancel_con {
    /* padding: 0 1.5rem; */
    /* margin-top: 23px; */
    color: #949494 !important;
    font-size: 25px !important;
    cursor: pointer
}

.popup2_inc_con {
    /* padding: 0 1.5rem; */
    /* margin-top: 23px; */
    color: #D9D9D9 !important;
    font-size: 25px !important;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
}

.popup2_dec_con {
    /* padding: 0 1.5rem; */
    /* margin-top: 23px; */
    color: #D9D9D9 !important;
    font-size: 25px !important;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
}

.popup2_cancel {
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(245, 246, 244);
    border-radius: 50%;
    color: rgb(34, 35, 33);
}

.popup2_col_h3{
    display: none;
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #064A61;
    line-height: 20px;
} 

.popup2_col_3 >h2{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.popup2_steps{
    position: relative;
    display: grid;
    grid-gap: 10px;
    height: 100%;
    overflow: hidden;
    padding-right: 1rem;
}

.popup2_step_img{
    width: 276px;
    height: 202px;
}

.popup2_step_name{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;
}

.popup2_instructions{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */


    color: #353535;
    overflow-y: scroll;
}

.popup2_footer{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: start;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    align-items: center;
}

.popup2_footer > p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;
}

.popup2_footer >img{
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.img_col{
    display: grid;
    grid-gap: 10px;
}

@media screen and (max-width: 985px) {
    .popup2{
        width: 95%;
        height: 90%;
    }

    .popup2_row_2{
        grid-template-columns: 1fr 1fr 324px;
    }
    
    .popup2_main_img{
        width: 100%;
        height: 100%;
    }

    .popup2_step_img{
        height: 100%;
    }

    .popup2_image{
        width: 46px;
        height: 45px;
    }
}

@media screen and (max-width: 800px) {
    .popup2{
        width: 75%;
        overflow-y: scroll;
        grid-template-rows: unset;
    }
    
    .popup2_main_img{
        width: 100%;
        height: 163px;
    }

    .popup2_step_img{
        width: 100%;
        height: 96px;
    }

    .popup2_row_2{
        grid-template-columns: 1fr;
    }

    .popup2_steps{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    .popup2_row_2 > div{
        border-right: 0 !important;
        padding-right: 0 !important;
    }
    
    .popup2_details{
        overflow: unset;
        grid-template-rows: 1fr;
    }

    .popup2_del {
        grid-template-columns: 1fr;
    }

    .popup2_col_1{
        grid-template-columns: 1fr 1fr;
    }
    
    .popup2_col_2{
        height: max-content;
        overflow: unset;
    }
}

@media screen and (max-width: 560px) {
    .popup2{
        width: 95%;
    }
    
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }