.container {
    width: 100%;
}

.top {
    display: flex;
    margin-top: 18rem;
    padding: 0 3rem;
}

.pageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.store {
    height: 30px;
    width: 30px;
    background: #F47900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: #FFF;
}

.pageTitle p {
    font-size: 23px;
    font-weight: 200;
    margin-left: .8rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex p {
    color: #F47900;
    font-size: 17px;
}

.questionContainer {
    width: 60%;
    margin: auto;
    padding-top: 3rem;
}

.question {
    color: #000;
    font-size: 28px;
    font-weight: 100;
    line-height: normal;
    padding-top: 1rem;
}

.radio {
    margin-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioDiv {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    padding: .4rem;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}

.label {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 1rem;
}

.outlineBtn {
        display: flex;
        height: 48px;
        width: 180px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #6D6D6D;
        outline: none;
        background: #FFF;
        font-size: 12px;
        cursor: pointer;
    }

    .btn {
        width: 180px;
        height: 48px;
        background: #F47900;
        outline: none;
        border-radius: 4px;
        border: none;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
    }

    .gif {
        height: 12rem;
    }

    .gif img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .btns {
        display: flex;
        justify-content: flex-end;
        padding-top: 5rem;
        gap: 10px;
    }

    .fragment input {
        width: 100%;
        border-left: none;
        border-top: none;
        border-right: none;
        outline: none;
        margin-top: 3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        color: #6D6D6D;
        font-size: 18px;
        font-weight: 100;
    }

    .modalContainer {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.40);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        width: 40%;
        margin: auto;
        background: #FFF;
        padding: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .successMessage {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .successText {
        color: #6D6D6D;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        padding-top: 1rem;
    }