

.goback_header_pages {
    cursor: pointer;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 4px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #353535;
}
  
.goback_header_page_arrow {
    font-size: 20px !important;
    color: #353535;
}