.bgimg {
  width: 87px;
  height: 83px;
  border: 2px dotted #f47900;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.bgimg p {
  font-size: 23px;
  color: #f47900;
}

.contact {
  margin-top: 2rem;
}

.contact p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.column label {
  color: #6d6d6d;
  font-size: 12px;
  font-weight: 400;
}

.column input {
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  margin-top: 0.7rem;
  width: 100%;
}
.column input::placeholder {
  color: #949494;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.column input:hover {
  outline: 0.5px solid #04d505;
  border: 1px solid #04d505;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 65%;
  overflow-y: auto;
  margin: auto;
  border-radius: 8px;
  background: #fff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
  padding: 0 4rem;
  height: 52px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: #f47900;
}
.flex h3 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pad {
  padding: 3rem 4rem;
}
.submit {
  width: 30%;
  margin-top: 2rem;
  background: #f47900;
  border: none;
  outline: none;
  font-size: 11.5px;
  color: #fff;
  height: 46px;
  border-radius: 4px;
  cursor: pointer;
}
