*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.print_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #00000047;
  z-index: 200; }

.print {
  background: #FFFFFF;
  border-radius: 0px;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 100%;
  animation: slidefromright .3s ease-in-out;
  border-radius: 2px;
  grid-template-rows: 785px 785px;
  overflow: hidden; }

.print_2 {
  width: 95%;
  height: 95%;
  background: #FFFFFF;
  border-radius: 0px;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 100%;
  animation: slidefromright .3s ease-in-out;
  border-radius: 2px;
  grid-template-columns: 1fr;
  overflow: hidden; }

.print_top {
  display: grid;
  grid-auto-flow: column;
  /* width: max-content; */
  justify-content: space-between;
  /* grid-template-rows: 3rem; */
  grid-template-columns: max-content max-content;
  grid-gap: 1rem;
  margin-bottom: 7px;
  align-items: center; }

.print_top2 {
  display: grid;
  grid-auto-flow: column;
  /* width: max-content; */
  justify-content: space-between;
  /* grid-template-rows: 3rem; */
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
  align-items: center; }

.meal_details {
  display: grid;
  width: 70%;
  justify-self: end; }

.meal_details > .col_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 5px; }

.meal_detail {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center; }

/* .meal_detail:not(:last-child) {
  border-right: 1px solid #444; } */

.meal_detail > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #222321;
  text-align: start;
  margin-bottom: 0; }

.meal_detail > p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #222321;
  text-align: start;
  padding-left: 6px;
  margin-bottom: 0; }

.print_top_logo_img {
  width: 7rem;
  height: 5rem;
  image-rendering: -webkit-optimize-contrast; }

.print_top > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #222321;
  text-transform: capitalize; }

.print_top2 > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 30px;
  color: #222321;
  text-transform: capitalize; }

.print_top > h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #2B2B2B; }

.print_main_logo_img {
  width: 100%;
  height: 535px;
  image-rendering: -webkit-optimize-contrast; }

.print_col_img_2 {
  display: block; }

.print_col_img_22 {
  display: none; }

.print_page_2 {
  display: grid;
  grid-gap: 7px;
  grid-template-rows: 1fr max-content;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 2rem; }

.print_body {
  display: grid;
  grid-gap: 2rem; }

.print_categories {
  display: grid; }

.print_category {
  border-bottom: 1px solid #444;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: start;
  color: #2B2B2B;
  word-break: break-word; }

.print_details {
  display: grid;
  grid-gap: 1rem; }

.print_detail {
  display: grid; }

.print_detail > h2 {
  border-bottom: 1px solid #444;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: start;
  color: #2B2B2B; }

.print_detail > ul {
  list-style-type: none;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 6px;
  margin: 0; }

.print_detail > ul > li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-content: start; }

.print_detail > ul > li > p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px; }

.print_detail > ul > li > h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px; }

.print_col_1_detail {
  display: grid;
  grid-gap: 1rem;
  align-self: start;
  height: 25rem;
  width: 15rem;
  margin-top: -13rem;
  align-content: start;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  border-top-right-radius: 0;
  box-shadow: -1px 1px 2px #DADCDC;
  position: absolute;
  right: 0;
  bottom: 0; }

.print_col_1_detail > h2 {
  border-bottom: 1px solid #444;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: start;
  color: #2B2B2B;
  margin: 0; }

.print_col_1_detail > ul {
  list-style-type: none;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 6px;
  grid-row-gap: 0;
  justify-content: flex-start; }

.print_col_1_detail > ul > li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-content: start; }

.print_col_1_detail > ul > li > p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px; }

.print_col_1_detail > ul > li > h4 {
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  word-break: break-word; }

.print_col_1 {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-gap: 1rem; }

.print_col_2 {
  margin: 1rem;
  overflow-y: scroll; }

.print_page_1 {
  display: grid;
  grid-template-rows: max-content 1fr; }

.print_page_1_row_1 {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-gap: 1rem; }

.print_page_1_row_2 {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 15rem;
  grid-gap: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  position: relative; }

.print_page_1_col_1 {
  display: grid;
  align-content: space-between; }

.print_col_1 > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  line-height: 20px; }

.print_col_1 > h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
  line-height: 20px; }

.print_cancel_con {
  height: 2rem;
  /* padding: 0 1.5rem; */
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  background-color: #f5f6f4;
  border-radius: 50%;
  align-items: center;
  /* margin-top: 23px; */
  color: white;
  width: 2rem; }

.print_cancel {
  font-size: 25px;
  cursor: pointer;
  color: #222321; }

.print_button {
  justify-self: start;
  width: 0284px;
  height: 46px;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #064A61;
  border: 1px solid #064A61;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 3rem auto;
  border-radius: 22px;
  margin: 10rem max-content; }

.print_col_h3 {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #064A61;
  line-height: 20px; }

.meal_instructions {
  display: grid;
  /* grid-template-columns: 32.2% 32.2% 32.2%; */
  /* grid-gap: 1rem; */
  align-items: start; }

.meal_instruction {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  grid-gap: 7px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  /* align-content: start; */
  /* justify-content: space-between; */
    /* grid-template-columns: 1fr 1fr 1fr;*/ }

.meal_instruction > div {
  display: grid;
    border: 1px solid #444;
    padding: 4px;
    border-radius: 4px;
    /* height: 100%; */
    width: 100%;
    align-content: start;
    /* min-width: 400px;  */
  }

.instruction_step_top {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  /* line-height: 20px; */
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: start;
  color: #2B2B2B;
  display: grid;
  grid-template-columns: 10px 1fr;
  word-break: break-word;
  grid-gap: 5px; }

.instruction_steps{
  display: flex;
  grid-gap: 4px;
  flex-wrap: wrap;
}

.instruction_step {
  padding-left: 1rem;
  font-weight: normal !important;
  font-size: 14px;
  text-transform: capitalize; }

.instruction_img{
  height: 7rem;
  width: 100%;
    max-width: 13rem;
}

.title {
  display: grid;
  border-bottom: 1px solid #444;
  /* line-height: 20px; */
  margin: 0;
  margin-left: 1rem;
  padding-bottom: 3px; }

.instruction_step_top > h4 {
  margin: 0 !important;
  font-style: normal;
  font-size: 15px;
  line-height: 20px; }

.tips {
  display: grid;
  width: 20rem;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  align-self: end;
  grid-template-columns: max-content 1fr;
  grid-gap: 4px;
  padding-top: 4px; }

.tips > ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-gap: 28px;
  margin-left: 23px;
  grid-row-gap: 4px; }

.tips > ul > li {
  font-size: 15px !important;
  text-transform: capitalize;
  word-break: break-word; }

.tips > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: start;
  color: #2B2B2B; }

.meal_detail_icon{
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}

@media print {
  @page {
    size: landscape !important; } }

.footer {
  display: grid;
  border-top: 1px solid #444;
  justify-items: end;
  align-self: end; }

.footer > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: start;
  color: #2B2B2B; }

@media screen and (max-width: 700px) {
  .print {
    grid-template-columns: 1fr; }
  .print_col_2 {
    margin: 0;
    padding: 2rem; }
  .print_col_1 {
    display: none; }
  .print_col_h3 {
    display: block; }
  .print_main_logo_img {
    display: none; }
  .print_col_img_2 {
    display: grid;
    justify-content: center; }
  .print_col_img_2 > .print_main_logo_img {
    display: block; }
  .print_body_col_2 {
    grid-template-columns: 1fr; } }
