.modal-90w {
  width: 70% !important;
  max-width: 900px !important; }
  .modal-90w .close {
    margin-right: -6px !important;
    margin-top: -11px !important; }

button.detail-step-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: orange;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 16px; }

.row {
  margin-right: 0px !important;
  margin-left: -15px !important; }

.btn-addToCard {
  background: green;
  color: white;
  margin-top: 10px;
  padding: 2px 10px; }

.modal-content {
  padding-right: 0px; }

.container {
  padding-right: 0px !important; }
  .container .detail-firstCol {
    padding-left: 0px;
    padding-right: 0px; }
  .container .ingredient-section {
    margin-left: 5px !important; }

@media screen and (max-width: 900px) and (min-height: 500px) {
  .modal-90w {
    width: 85% !important;
    max-width: 900px !important;
    margin: auto !important; }
  .modal-dialog .modal-content {
    height: 90vh;
    overflow: overlay; } }

@media screen and (max-height: 500px) and (max-width: 900px) {
  .modal-90w {
    width: 90% !important;
    height: 100vh;
    margin: auto !important; }
  .modal-dialog .modal-content {
    height: 90vh;
    overflow: overlay; } }
