
.navbar{
  display: grid;
  grid-auto-flow: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  grid-template-rows: 88px;
  grid-template-columns: 100%;
  /* border-bottom: 1px solid #e7e7e7; */
}


.navbar2{
  display: grid;
  grid-auto-flow: row;
  position: fixed;
  top: 85px;
  width: 100%;
  z-index: 199;
  grid-template-rows: 70px;
  grid-template-columns: 100%;
}

.navbar_top_container{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-items: center;
  align-items: center;
  animation: slidefromup .3s ease-in-out;
}

.navbar_top{
  display: grid;
  grid-auto-flow: column;
  width: 95%;
  color: #ffffffbd;
  grid-template-columns: max-content 1fr;
  grid-gap: 3rem;
  justify-items: end;
  align-items: center;
  z-index: 2;
  font-size: 12px;}

.navbar_top_logo_img{
  display: flex;
  align-items: center;
  width: 79px !important;
  height: 46px !important;
}

.navbar_top_details{
  display: grid;
  grid-gap: 3rem;
  grid-auto-flow: column;
  align-items: center;
  font-size: 25px;
}

.navbar_user_loginbtn{
  cursor: pointer;
  width: 152px;
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;

  background: #FFFFFF;
  border: 1px solid #6D6D6D;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */


  color: #000000;
}

.navbar_user_info{
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.navbar_user_img{
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.navbar_user_name{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #000000;
}

.navbar_user_icon{
  width: 9px;
  height: 7px;
  fill: #000000;
}

.navbar_user_upgradebtn{
  cursor: pointer;
  width: 100px;
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;

  background: #F47900;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */


  color: #FFFFFF;
  border: none;
}

.navbar_top_details_col{
  position: relative;
  display: flex;
  gap: 1px;
  align-items: center;
}

.navbar_top_details_col > div{
  position: relative;
}

.navbar_top_details_col h5{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.navbar_top_details_col_icon{
  width: 19px;
  fill: #6D6D6D;
  cursor: pointer;
}

.navbar_main_container{
  display: grid;
  justify-items: center;
  align-items: center;
  animation: slidefromleft .6s ease-in-out;
  position: relative;
  grid-template-columns: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar_main{
  display: grid;
  grid-template-columns: max-content  max-content;
  /* grid-auto-flow: column; */
  width: 95%;
  grid-gap: 6rem;
  align-items: center;
  justify-content: space-between;
}

.user_img{
  width: 25px;
  height: 25px;
}

.navbar_main_links{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: column;
  color: #8bb9d2;
  text-transform: uppercase;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #767874;
  grid-gap: 3rem;
}

.navbar_main_link{
  cursor: pointer;
  letter-spacing: .3px;
  margin-right: 7px;
  display: grid;
  align-items: center;
}

.navbar_main_link_icon{
  fill: #000000;
  width: 17px;
}

.navbar_main_link_icon2{
  fill: #FFFFFF;
  width: 18px;
}

.navbar_main_link > p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #000000;
  text-transform: uppercase;
}

.navbar_main_grocery >p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #000000;
}

.navbar_main_icons{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  font-size: 25px;
  justify-content: end;
  align-items: center;
  color: #064a61;
}


.numberofitems{
  position: absolute;
  border-radius: 50%;
  top: 7px;
  right: -3px;
  text-align: center;
  display: grid;
  align-items: center;
  width: 13px;
  height: 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;

  color: #FFFFFF;
}

.navbar_down{
  display: none;
  grid-auto-flow: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
  grid-template-rows: 70px;
  grid-template-columns: max-content max-content max-content max-content;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
}

.navbar_down_col > a{

  display: grid;
  justify-items: center;
  fill: #6D6D6D;
  color: #6D6D6D;
}

.navbar_down_col_icon{
  width: 15px;
}

.navbar_down_col > a> p{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 140.52%;
  /* or 15px */

  text-align: center;

  color: inherit;
}

.navbar_down_col > a:hover{
  fill: #F47900;
  color: #F47900;
}

.activeLinkDown > a{
  fill: #F47900;
  color: #F47900;
}


.openbtn {
  display: none;
  font-size: 30px;
  text-align: start;
  cursor: pointer;
  color: #064A61;
  padding-right: 10px;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 5px;
  left: 55.5%;
  width: 34px;
}

.summaries_min{
  position: absolute !important;
  display: none;
  grid-gap: 2rem;
  align-content: start;
  width: 339px;
  height: 535px;
  top: 27px;
  right: 2px;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
}

.summary_min_h3{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #000000;
  margin: 0;
}

.summary_min_h3 >span{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  /* identical to box height, or 176% */
  
  
  color: #222321;
}

.summary_min{
  width: 100%;
  height: max-content;

  background: #FFFFFF;
  box-sizing: border-box;
  padding: 1rem 0;
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
}

.summary_min_head{
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}

.summary_min_notifications{
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  padding: 2rem;
}

.summary_notification{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: start;
  grid-gap: 1rem;
  height: max-content;
  grid-template-columns: max-content 1fr;

  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 10px;
}

.summary_notification_Img{
  width: 50px;
  height: 50px;
  animation: opacity .5s linear;
}

.summary_notification_Details{
  display: grid;
  align-content: start;
}

.summary_notification_desc{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: #000000;
  margin: 0;
}

.summary_notification_time{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #6D6D6D;
}

.summary_notification_link{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: #F47900;
}

.navbar_user_signedin{
  width: 160px;
  height: 155px;
  display: none;
  grid-gap: 1rem;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 36px;
  right: 0;
}

.navbar_user_signedin_link{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 1px;
}

.navbar_user_signedin_link > h3{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;

  
}

.black{
  color: #000000;
}

.white{
  color: white;
  text-transform: uppercase;
}

.navbar_user_signedin_logout{
  border-top: 1px solid rgba(148, 148, 148, 0.2);
  padding: 1rem 0 0;
}

.navbar_user_signedin_logout > div{
  width: 124px;
  height: 34px;
  display: grid;
  align-items: center;
  justify-items: center;

  background: #F47900;
  border-radius: 4px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.navbar_side{
  display: grid;
  grid-auto-flow: row;
  position: fixed;
  top: 0;
  z-index: 200;
  grid-template-rows: 88px;
  grid-template-columns: 100%;
  /* border-bottom: 1px solid #e7e7e7; */
}

.sidenav {
  height: 100%;
  position: fixed;
  width: 259px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  background-color: white;
  grid-gap: 1rem;
  align-items: start;
  grid-template-rows: max-content 1fr;
}

/* @media only screen and (max-width:900px){
  .sidenav{
    display: none;
  }
} */

.sidenav_top{
  background-color: white;
  display: grid;
  align-content: space-between;
  height: 200px;
  padding: 2rem;
}

.sidenav_top_row_1{
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.sidenav_top_row_2{
  display: grid;
  grid-template-columns: 62px 1fr;
  grid-gap: 10px;
  align-items: start;
  margin-top: -3rem;
}

.sidenav_top_row_2 > span{
  border-radius: 50%;
}

.sidenav_top_row_2_img{
  width: 40px;
  height: 40px;
}

.sidenav_top_row_2 > div{
  display: grid;
}

.sidenav_top_row_2 > div > h3{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #000000;
  margin: 0;
}

.sidenav_top_row_2 > div > p{
  font-style: italic;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */


  color: #04D505;
}

.sidenav_links_con{
  background: #F47900;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.social_link{
  width: 62px;
  height: 31px;
    /* background: red; */
}

.side_bottom{
  align-self: end;
}

.pb{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  font-weight: 600;
}

.social_link{
  text-decoration: none;
}

.sidenav_links{
  align-self: start;
  display: grid;
  grid-gap: 1rem;
  width: 95%;
  justify-self: center;
  margin-top: 2rem;
}

.sidenav_links > a:hover{
  background: #BE6002;
  border-radius: 8px;
}

.sidenav_link{
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */


  color: #FFFFFF;
  padding: 2rem;
}

.active{
  background: #BE6002;
  border-radius: 8px;
}

.sidenav_link_icon{
  fill: white;
  width: 17px;
}

.sidenav_link:hover{
  width: 100%;
  /* background-color: rgb(241 241 241 / 0.04); */
}

.sidedroplink{
  padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidedroplink:hover{
  width: 100%;
  background-color: rgb(241 241 241 / 0.04);
}

.side_icon{
  font-size: 3rem;
}

/* .sidenav_logo{
} */

.closebtn {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #8c1d5a;
}

@media only screen and (max-width: 768px){
  .navbar{
    grid-template-rows: 55px;
  }

  .navbar2{
    top: 54px;
    grid-template-rows: 48px;
  }

  .navbar_user_loginbtn{
    display: none;
  }

  .navbar_user_upgradebtn{
    display: none;
  }
  
  .navbar_user_info{
    display: none;
  }

  .hide{
    display: none;
  }

  .navbar_link{
      display: none;
  }
  
  .navbar_side{
    width: 8%;
  }

  .openbtn{
      display: block;
  }

  .navbar_down{
    display: grid;
  }

  .navbar_top{
      grid-gap: 1rem;
      width: 90%;
  }

  .navbar_main{
    width: 90%;
    grid-template-columns: 1fr;
  }

  .navbar_main_link{
    margin: 0;
  }

  .navbar_main_grocery{
    display: none;
  }

  .navbar_top_logo_img{
    width: 66px !important;
    height: 33px !important;
    margin-left: 2.5rem;
  }

  .navbar_top_details_col > h5{
    display: none;
  }

  .numberofitems{
    top: 7px;
    right: -3px;
  }
}

@media screen and (max-width: 480px) {
  .navbar_main_links{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

}