.resetpassword .form-group {
    margin: auto;
}

.resetpassword label[for="formHorizontalCheck"] {
    margin: 0;
}

.resetpassword .btn-toolbar button {
    margin:  auto;
}

.resetpassword .login__form-btn.btn.btn-secondary {
    width: auto;
    padding: 0 15px;
}