.transToIn_container {
  position: fixed;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #00000047;
  z-index: 200;
}
.switch {
  max-width: 92px;
  height: 36px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;  border-radius: 20px;
  position: relative;
  padding: 0 0.4rem;
  align-items: center;
  display: flex;
  align-items: center;
}

.roundSwitch {
  position: absolute;
  width: 45px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  background-color: #04d505;
  border-radius: 35px;
  cursor: pointer;
  /* margin-top: 1.5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  transition: transform 0.2s ease;
  transform: translateX(0); /* Initially at position */
}

.flexed {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0 1rem;
  margin-top: 0.5rem;
  align-items: center;
}
.selected {
  width: 25%;
  height: 34px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 4px;
}
.roundSwitch2 {
  position: absolute;
  width: 45px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  background-color: #949494;
  border-radius: 35px;
  cursor: pointer;
  /* margin-top: 1.5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  transition: transform 0.2s ease;
  transform: translateX(40px); /* Initially off-screen */
}

.transToIn {
  width: 70%;
  height: 90%;
  margin: auto;
  background: #ffffff;
  position: relative;
  border-radius: 11px;
  overflow-y: scroll;
  display: grid;
  padding-bottom: 2rem;
}
.success {
  width: 40%;
  background-color: #ffffff;
  margin: auto;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
.success p {
  color: #6d6d6d;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bor {
  border-bottom: 1px solid #949494;
  width: 100%;
  padding-top: 2rem;
}
.transToIn_top {
  display: grid;
  grid-auto-flow: column;
  /* width: max-content; */
  justify-content: space-between;
  /* grid-template-rows: 3rem; */
  grid-template-columns: 1fr 4rem;
  grid-template-columns: max-content max-content;
  align-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 3rem;
}

.transToIn_top > h2 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.transToIn_cancel_con {
  /* padding: 0 1.5rem; */
  /* margin-top: 23px; */
  color: #949494 !important;
  font-size: 25px !important;
  cursor: pointer;
}

.transToIn_details_con {
  display: grid;
  grid-gap: 1rem;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  align-content: start;
  width: 80%;
  margin: auto;
}

.transToIn_meal_types > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

.transToIn_meal_types {
  display: grid;
  grid-gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}

.transToIn_meal_type {
  /* background-color: #f8f8f8; */
  /* padding: 2rem; */
  /* height: 6rem; */
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
}

.transToIn_meal_type_radio_button {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #6d6d6d;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  margin-left: 1rem;
  margin-right: 2px;
  z-index: 1;
}

.transToIn_meal_type_radio_button::after {
  content: "";
  width: 13px;
  height: 13px;
  background: #f47900;
  border-radius: 50%;
  display: none;
  /* margin-left: 1px;
    margin-top: -1px; */
}

.transToIn_meal_type_radioInput {
  display: none;
}

.transToIn_meal_type_radioLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  z-index: 1;
  display: grid;
}

.transToIn_meal_type_radioLabel2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #c2c2c2;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  z-index: 1;
  display: grid;
}

.transToIn_meal_type_radioInput:checked
  + .transToIn_meal_type_radio_button::after {
  display: block;
}

.transToIn_meal_type_option {
  display: grid;
  grid-auto-flow: column;
  /* justify-content: start; */
  grid-template-columns: max-content max-content 1fr;
  /* align-items: center; */
  /* grid-template-rows: 6rem; */
  /* height: 6rem; */
  grid-gap: 6px;
}

.transToIn_details_col2 {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
}

.transToIn_details_col2 > div {
  display: grid;
  grid-gap: 2rem;
}

.transToIn_details_col2 > div > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  margin: 0;
}

.transToIn_details_col2 > div > div {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.transToIn_details_col2 > div > div > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #6d6d6d;
}

.transToIn_details_col2 > div > div > h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

.transToIn_details_col2 > div > div > input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  border: none;
  outline: none;
  width: 59px;
  height: 32px;
  padding: 9px;

  background: #f1f1f1;
  border-radius: 2px;
}

.transToIn_details_col3 {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
}

.transToIn_details_col3 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transToIn_details_col3 > div > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #6d6d6d;
  margin: 0;
}

.transToIn_details_col3 > div > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #6d6d6d;
}

.transToIn_details_col3 > div > select {
  width: 156px;
  height: 34px;

  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  padding: 6px;
  outline: none;
}

.transToIn_details_col4 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0;
}

.transToIn_details_col4 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #6d6d6d;
}

.request_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto !important;
}

.request_tr {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 0;
  align-items: center;
  padding: 0.6rem;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.request_tr1 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 2rem;
  margin: 0;
  align-items: center;
  padding: 0.6rem;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.request_th {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  text-align: start;
}

.request_td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.374px;

  /* Neutral/900 */

  color: #131518;
  word-break: break-word;
}

.request_td > input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  outline: none;
  width: 59px;
  height: 32px;
  padding: 9px;
  background: #f1f1f1;
  border-radius: 2px;
}

.transToIn_footer {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  padding: 0 2rem;
}

.transToIn_footer_button {
  width: 160px;
  height: 40px;
  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #353535;
  outline: none;
}

.transToIn_footer_button2 {
  width: 212px;
  height: 40px;

  background: #04d505;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
  outline: none;
  border: none;
}

.select_container {
  display: grid;
  grid-gap: 6px;
}

.select_box {
  width: 156px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 7.5px 10px;
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
}

.select_box > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #6d6d6d;
  text-transform: capitalize;
}

.select_box_icon {
  font-size: 20px !important;
  color: #353535;
}

.select_options {
  top: 146px;
  width: 156px;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
  border-radius: 4px;
  padding: 7.5px 14px;
  display: grid;
  grid-gap: 15px;
  z-index: 5;
}

.select_options > p {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .transToIn {
    width: 100%;
    height: 82%;
    border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .transToIn_container {
    z-index: 199;
  }
  .transToIn_top > h2 {
    font-size: 15px;
  }
  /* .transToIn {
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow: scroll;
    grid-template-rows: 10% 1fr 10%;
    padding-bottom: 7rem;
    padding-top: 7rem;
  } */

  .transToIn_meal_type {
    grid-template-columns: 1fr;
  }

  .transToIn_details_col2 {
    grid-template-columns: 1fr;
  }

  .transToIn_details_col3 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 456px) {
  .transToIn_footer_button {
    width: 100px;
    height: 40px;
  }

  .transToIn_footer_button2 {
    width: 120px;
    height: 40px;
  }

  .hideData {
    display: none;
  }

  .request_tr {
    grid-template-columns: 1.2fr 1fr 1fr;
  }
  .transToIn_meal_type_radioLabel2 {
    font-size: 10px;
  }
  .transToIn_details_con {
    width: 95%;
  }
  .transToIn_top {
    padding: 1rem 2rem;
  }
  .selected {
    width: 45%;
    font-size: 12px;
  }
  .transToIn_meal_type_radio_button {
    width: 15px;
    height: 15px;
    margin-left: 0;
  }
  .transToIn_meal_type_radio_button::after {
    width: 10px;
    height: 10px;
  }
  .transToIn_meal_type_radioLabel {
    font-size: 12px;
  }
  .transToIn_meal_type {
    grid-gap: 2rem;
    padding-left: -4rem;
  }
  .transToIn_details_col2 > div > h3 {
    font-size: 14px;
    line-height: 4px;
  }
  .transToIn_details_col2 > div > div > p {
    font-size: 12px;
    line-height: 10px;
  }
  .transToIn_details_col3 > div > h3 {
    font-size: 12px;
    line-height: 12px;
  }
  .transToIn_details_col3 {
    grid-gap: 2rem;
    padding: 1rem 0;
  }
  .select_box {
    width: 130px;
    height: 28px;
  }

  .select_box > p {
    font-size: 12px;
  }
  .transToIn_footer {
    padding: 2rem 2rem 0 2rem;
  }
  .transToIn_details_col4 > p {
    font-size: 12px;
    line-height: 10px;
  }

  .transToIn_details_col4 {
    padding: 1rem 0;
  }
  .request_th {
    font-size: 12px;
    line-height: 10px;

  }
  .request_td {
    font-size: 12px;
  }
}
