.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.payback-disclaimer {
  font-size: 22px;
  color: black; }

.container {
  display: flex;
  flex-wrap: wrap-reverse; }

.images {
  width: "30%"; }

.container .mealContainer {
  display: flex;
  padding: 8px;
  /* margin:5px; */
  background-color: #fff; }

.container .mealContainer .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #000; }

/* .viewFoodContent{
  width: 100%;
  height: 100%;
} */
/* .blogThumbnails {
  background-color: #D3D3D3;
  padding:5px;
  padding-bottom: 0;
}
.blogThumbnails .thumbnail {
  padding:8px;
  margin:5px;
  background-color: #fff;
}
.blogThumbnails .thumbnail .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #000;
} */
/* ============================================= */
/* .close {
  font-size: 4.5rem; } */
.carousel.carousel-slider .control-arrow {
  margin-top: 150px !important; }

.modal-content {
  background-color: #f6f0f0; }

/* @media screen and (max-width: 770px) {
  .modal-content {
    border-radius: 0px;
    margin-top: 25% !important; } } */
.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative; }

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%); }

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }

.number-input input[type=number] {
  text-align: center; }

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem; }

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem; }

.number-input.number-input button.minus {
  padding-left: 10px; }

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057; }

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057; }

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%); }

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }

.number-input input[type=number] {
  text-align: center; }

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem; }

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem; }

.number-input.number-input button.plus {
  padding-left: 15px; }

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057; }

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057; }

/* .background-color{
  background-color: red !important;
  position: relative;
} */
