@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Inter' sans-serif;
  }
  
  html {
  font-family: 'Inter' sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter";
  scroll-behavior: smooth;
}
/* body{
  font-family: 'Inter', sans-serif;
} */

/* ::-webkit-scrollbar {
  width: 0;  Remove scrollbar space
  background: transparent;  Optional: just make scrollbar invisible
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.payback-disclaimer {
  font-size: 22px;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.images {
  width: "30%";
}

.container .mealContainer {
  display: flex;
  padding: 8px;
  /* margin:5px; */
  background-color: #fff;
}

.container .mealContainer .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #000;
}

/* .viewFoodContent{
  width: 100%;
  height: 100%;
} */
/* .blogThumbnails {
  background-color: #D3D3D3;
  padding:5px;
  padding-bottom: 0;
}
.blogThumbnails .thumbnail {
  padding:8px;
  margin:5px;
  background-color: #fff;
}
.blogThumbnails .thumbnail .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #000;
} */
/* ============================================= */
/* .close {
  font-size: 4.5rem; } */
.carousel.carousel-slider .control-arrow {
  margin-top: 150px !important;
}

.modal-content {
  background-color: #f6f0f0;
}

/* @media screen and (max-width: 770px) {
  .modal-content {
    border-radius: 0px;
    margin-top: 25% !important; } } */
.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}

.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}

.number-input.number-input button.plus {
  padding-left: 15px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}

.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

/* .background-color{
  background-color: red !important;
  position: relative;
} */

a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  height: max-content;
  text-transform: capitalize;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 19px;

  color: #353535;
}

.alert {
  position: fixed;
  top: 25px;
  right: 13px;
  z-index: 300000;
}

.alert-success {
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  border: none;
  border-radius: 4px;
  color: white;
  height: 43px;
  width: calc(100vw - 66px);
  background-color: #00a701;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.alert-warning {
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  /* justify-items: center; */
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  color: #333333;
  height: 43px;
  width: 100%;
  background-color: #fffbbb;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.alert-danger {
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  border: none;
  border-radius: 4px;
  color: white;
  height: 43px;
  width: calc(100vw - 66px);
  background-color: #ff1b1b;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  height: 38px;
  width: 100%;
  padding: 1rem;
  outline: none;
  height: 40px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.9);
}

.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border-color: #04d505 !important;
  outline-color: #04d505 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 13px;
}

.MuiAutocomplete-popper > * {
  font-size: 13px !important;
}

[role="tooltip"].popup-content {
  width: 155px !important;
}

input[type="radio"] {
  appearance: inherit;
  padding: 6px;
  background-color: transparent;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background-color: #f47900;
}
input[type="checkbox"]:checked {
  accent-color: #f47900 !important;
  color: #fff;
  background-color: #fff;
  padding: 6px;
  background-color: transparent;
}

.custom div[class*="placeholder"] {
  font-size: 15px !important;
}

@media only screen and (max-width: 470px) {
  .custom div[class*="placeholder"] {
    font-size: 11px !important;
  }
  .css-13849sg-control {
    font-size: 11px;
    height: 47px;
  }
  .css-1dimb5e-singleValue {
    font-size: 11px;
  }
  [role="tooltip"].popup-content {
    width: 130px !important;
  }
}
.eye {
  font-size: 30px;
}
.dYrfwz {
  min-height: 52px;
}
.searchbar .wrapper {
  border-radius: 4px 0px 0px 4px;
  border: 0px solid rgba(148, 148, 148, 0.6);
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #f47900;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #000;
  font-size: 14px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 14px;
  color: #6d6d6d;
  text-transform: capitalize;
}
.css-13cymwt-control {
  border-color: #f47900;
  border-width: 1px;
  min-height: 51px;
  min-width: 200px;
  outline-width: 1px;
  outline-color: #f47900;
  outline-style: solid;
}
.css-t3ipsp-control {
  border-color: #f47900;
  border-width: 2px;
  min-height: 51px;
  min-width: 200px;
  outline-width: 1px;
  outline-color: #f47900;
  outline-style: solid;
}
.option {
  background-color: red;
}
@media only screen and (max-width: 600px) {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #000;
    font-size: 10px;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 10px;
    color: #6d6d6d;
    text-transform: capitalize;
  }
  .nsm7Bb-HzV7m-LgbsSe {
    font-size: 12px;
    padding: 0 1rem;
    height: 3.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .nsm7Bb-HzV7m-LgbsSe {
    font-size: 12px;
    padding: 0 1rem;
    height: 3.6rem;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 480px) {
  a {
    text-decoration: none;
    color: inherit;
    height: max-content;
    font-size: 10px;
    text-transform: capitalize;
  }
}

.verification .otp-inputs {
  display: flex;
  justify-content: center;
}
.verification .otp-inputs input {
  box-sizing: border-box;
  width: 43px;
  height: 42px;
  border: 1px solid #6D6D6D;
  border-radius: 4px;
  margin: 20px 10px;
  text-align: center;


}
.verification .otp-options {
  display: flex;
  margin-top: 30px;
  justify-content: center;

}
.verification .otp-options button {
  margin: 0 10px;
  width: 150px;
}
.verification small {
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 148%;
/* or 21px */
text-align: center;

/* Text Color 1 */
color: #6D6D6D;
margin: auto;
display: block;

}

.verification {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px;
  padding-bottom: 50p;
  
  }
  .verification img {
    /* tabler:mail-filled */
 
width: 62px;
height: 62px;
 

  }
  .verification img.success-img {
    width: 100px;
    height: 100px;
  }
  .verification .withbg{
    /* Ellipse 72 */
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
border-radius: 100%; 
margin: 20px auto;
    margin-bottom: 50px;

  }
  .verification .withbg.withcolor{
    width: 120px;
    height: 120px;
background: rgba(244, 121, 0, 0.06);
 

  }
  
  .verification h3 {
   
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height */
  
  color: #000000;
  text-align: center;
  
  }
  .verification p {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  /* or 21px */
  text-align: center;
  
  color: #353535;
  
  
  }
  .verification .options h4{
    /* text-align: center; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px; 
  /* identical to box height */
  margin-left: 45px;
  color: #000000;
  margin-bottom: 0;

  
  }
  .verification .options h4 span {
    color: #F47900;
  }
  .verification .options{
    margin-top: 50px;
  }
  
  .verification .option {
      display: flex;
      background-color: white;
  }
  
  .verification .option  .img {
    padding: 10px;
  }
  .verification .option  .img svg {
   
width: 24px;
height: 24px;
 


  }
  .verification .option  .title {
    width: 65%;
  }
  .verification .option  .title h6 {/* Email Address */
  
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
          width: 70%;
      color: #000000;
      
      }
  .verification .option  .title small {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 148%;
  width: 420px;
  color: #6D6D6D;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  }
  .verification .option  .button {
    display: flex;
    align-items: center;
    width: 223px;
  }
  .verification-button {
    cursor: pointer;
  margin-left: auto;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
 
  
  background: #F47900;
  border-radius: 4px;
   border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  }
  .verification-button.alt {
    border: 2px solid #F47900;
    background-color: #fff;
    color: #F47900;
  }
  .verification-button.bigger {
    width: 223px !important;
  }
  .verification-button:hover {
opacity: .9;
 
  }
  @media (max-width: 768px) {
    .verification .option{
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
    }
    .verification .options h4 {
      margin-left: 0;
      text-align: center;
    }
  
    .verification .option .img {
      padding: 10px 0;
    }

    .verification .option .title {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .verification .option .button {
      width: 100%;
    }
  
    .verification .otp-options {
      flex-wrap: wrap;
    }
  
    .verification .otp-options button {
      margin: 10px;
    }
  
    .verification .otp-inputs {
      flex-wrap: wrap;
    }
  
    .verification .otp-inputs input {
      margin: 7px;
    }
    .verification-button{
      margin: auto;
      padding: 8px 12px;
      font-size: 12px;
      margin-top: 5px;
    }
    .verification p, .verification .option .title h6, .verification small{
      font-size: 11px;
    }

    .verification .option .title small, .verification .options h4 {
      font-size: 10px;
    }
    .verification h3{
      font-size: 18px;
      line-height: 22px;
    }
    .verification .otp-inputs input{
      width: 30px;
      height: 32px;
    }
    .verification img {
      width: 52px;
      height: 52px;
  }
  .verification .withbg.withcolor {
    width: 100px;
    height: 100px;
  }
  .verification .withbg{
    margin-bottom: 10px;
  }
  }
  