body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.suggestedProductsContainer{
  display: flex;
  /* justify-content: space-around; */

  /* width: 100%;
  background-color: #D3D3D3;
  padding:5px;
  padding-bottom: 0; */
}



/* We possibly would need to create separate container styling sheets for Suggest Meal and Meals PAge Modal */
.container{
  display: flex;
  /* justify-content: space-around; */

  /* width: 100%;
  background-color: #D3D3D3;
  padding:5px;
  padding-bottom: 0; */
}

/* Navbar container */
.navbar {
  /* overflow: hidden; */
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  /* overflow: hidden; */
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* PRoducts page alignment */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/* ============================================================================== */
/* W3 Top Nav styling */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover{
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: orange;
  color: white;
}

/* Hide the link on bigger screens that will open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Add media queries */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("CC"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav .w3-dropdown-hover {display: none;}
  .topnav a.icon{
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .w3-dropdown-hover{
    float: none;
    display: block;
  }
  .topnav.responsive .w3-dropdown-hover .w3-button{
    text-align: left;
  }

}
/* ============================================================================== */

/* ============================================================================== */
/* New Nav Bar with HTML design to build  */
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* End of new navbar */
/* ============================================================================== */

/* ============================================================================== */
.footer_table {
  min-width: 100%;
  border: 5px;
}
/* ============================================================================== */

/* ============================================================================== */
/* Slider styling */
.slider-arrows {
  position: absolute;
  width: 100%;
  z-index: 3;
}
.slider-arrows > .arrow {
  margin-top: 300px;
}
.slider-arrows a {
  cursor: pointer;
  display: block;
  opacity: 0.8;
  position: absolute;
}
.slider-arrows > .arrow.right {
  right: 0;
}

/* animation */
.slider .slide {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* ============================================================================== */


.slide {
  background: #ffffff!important;
  color: #000!important;
}

.carousel.carousel-slider .control-arrow{
    background: rgba(0, 0, 0, 0)!important;
    height: 35px!important;
    width: 35px!important;
    background-color: #000!important;
    border-radius: 50%!important;
    margin-top: 100px!important;
}

.carousel .control-next.control-arrow:before {
    margin-bottom: 8px!important;
}

.carousel .control-prev.control-arrow:before {
    margin-bottom: 8px!important;
}

@media (max-width:768px){
  .navbar-second{
    display: none;
  }
  .navbar-first{
    display: none;
  }
    
  .mobileNavbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    height: 100%;
    z-index: 1010;
    width:100%;
  }
  .mobileNavbar ::placeholder {
    color:white !important;
    font-size: 13px;
  }
  
.mobileNavbar{
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  height: 100%;
  z-index: 1010;
  width: 100%;
  transition: ease 1s;
}
.mobileNavbar.visible{
  display:block !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  height: 100%;
  z-index: 1010;
  width: 100%;
  transition: ease 1s;
}
.mobileNavbar-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 80%;
  width: calc(50%);
  overflow: hidden;
  background-color: #fd7e14;
  -webkit-font-smoothing: subpixel-antialiased;
  }
    
  .navbar-toggle{
    display:block !important;
  }
}
.navbar-toggle{
  display:none;
}