/* MOBILE FIRST DESIGN SMALLER SCREEN IS DEFAULT, */
/* MEDIA QUERIES FOR LARGER SCREENS BELOW */
/* USE MEDIA QUERIES TEMPLATE TO DETERMINE WHAT STYLING YOU WANT TO UPDATE */
/* ONLY ADD STYLING IF CONFIRMED THAT IT WILL NOT AFFECT ANOUTHER STYLING */

/* @media screen and (max-width: 429px) { */
/* Potrait Mobile View */
.banner_text {
    z-index: 80;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height:30%;
    display: block;
    background: white;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .banner_spacing{
      height: 23%; overflow: hidden;
  }
  
  /* MOBILE, TABLET AND ALL LANDSCAPE VIEW */
  @media screen and (orientation: landscape) {
    .banner_text {
      z-index: 80;
      position: absolute;
      max-width: fit-content;
      padding: 1px;
      right: 0%;
      text-align: center;
      margin: 60px;
      background: white;
      font-family: Arial, sans-serif;
      color: black;
    }
  
    .banner_spacing{
      height: 6%; overflow: hidden;
  }
  }
  
  /* TABLET  VIEW */
  @media screen and (min-width: 567px) {
  
  }
  
  /* DESKTOP VIEW */
  @media screen and (min-width: 768px) {
      .banner_text {
        z-index: 80;
        position: absolute;
        /* max-width: fit-content; */
        height: fit-content;
        padding: 1px;
        /* right: 5%; */
        text-align: center;
        /* margin: 60px; */
        background: white;
        font-family: Arial, sans-serif;
        color: black;
      }
  
      .banner_spacing{
          height: 23%; overflow: hidden;
      }
  }